#
# Copyright (C) 2023 Xiaomi Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

config CHARGERD
	bool "chargerd"
	default n
	---help---
		This application is used to manager charge logic

if CHARGERD

config CHARGERD_PROGNAME
	string "Program name"
	default "chargerd"
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config CHARGERD_PRIORITY
	int "chargerd task priority"
	default 100

config CHARGERD_STACKSIZE
	int "chargerd stack size"
	default DEFAULT_TASK_STACKSIZE

endif
